.ststus {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.10196078431372549);
  opacity: 1;
  border-radius: 2px;
  font-size: 12px;
  padding: 4px;
}
.detail {
  color: $themeColor;
  cursor: pointer;
}
